snippet includeGuard "Include guard"
#ifndef ${1:`!v toupper(expand('%:t:r')) . '_' . toupper(expand('%:e')) . '_'`}
#define $1

#endif    // $1
endsnippet

snippet doxygenComment
/**
 * $1
 */
endsnippet

snippet externCGuard "extern C guard"
#ifdef __cplusplus
extern "C" {
#endif

#ifdef __cplusplus
}    // extern "C"
#endif
endsnippet
