snippet includeGuard "Include guard"
#ifndef ${1:`!v toupper(expand('%:t:r')) . '_H_'`}
#define $1

#endif    // $1
endsnippet

snippet doxygenAuthor "Doxygen author block"
/**
 * @author Mo Hyun
 * @date `date +%F`
 *
 * @brief $4
 */
endsnippet

snippet doxygenComment
/**
 * $1
 */
endsnippet
